
<div class="sign-in-container">
  <div class="sign-in-form">
    <form action="<%= session_path %>" method="post">
      <label>
        Username or Email
        <input type="textfield" name="credential">
      </label>

      <label>
        Password
        <input type="password" name="password">
      </label>

      <input type="submit" name="commit" value="Sign in">
    </form>
  </div>
</div>