<% @goals.each do |goal| %>
  
  <%= render partial: "goal_unit", locals: {goal: goal} %>

<% end %>

<div class="added-goals"></div>
<div class="added-goal-forms"></div>

<div class="add-goal">
  <div class="btn" id="add-goal-button">Add Goal</div>
</div>


<script>
  
  $(document).ready(function () {

    var nextGoalCounter = 0

    var $addGoal = $("#add-goal-button")
    var $addedGoalForms = $(".added-goal-forms")

    $addGoal.on("click", function () {

      $.ajax({
        url: "<%= new_goal_path %>",
        type: "GET",
        data: {
          "goal_counter": nextGoalCounter
        },
        success: function (data) {
          $addedGoalForms.append(data);
          nextGoalCounter++
        }
      })

    })

  })

</script>