/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";


/* RESET */

html, body, header, footer, section, 
div, a, img, p, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* CLEARFIX */

.group:after {
  content: "";
  clear: both;
  display: table;
}

/* DESTROYED/INVISIBLE */

.destroyed {
  display: none;  
}


/* ELEMENTS */

body {
  font-family: sans-serif;
  font-size: 16px;
  background: #C8F7FA;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* HEADER */

body > header {
  background: white;
  border-bottom: 3px solid #D6D3DE;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.header-container {
  width: 1200px;
  margin: auto;
  padding-top: 10px;
}


.header-logo {
  padding-left: 425px;
  width: 200px;
  float: left;
}

.header-logo > h1 {

}

.header-logo > h1 > a {
  font-size: 36px;
  color: #84E8BE;
  display: block;
}

.header-logo > h1 > a {
  text-decoration: none;
}

.header-nav {
  float: right;
  color: #84E8BE;
  padding-right: 100px;
}

/* SIGNUP/IN/OUT */

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

.notice, .alert {
  font-weight: bold;
  background: #F7FABE;
  width: 200px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #B6BD6C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.sign-in-container {
  background: #fff;
  width: 350px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 10px solid #D6D3DE;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.sign-in-form {
  width: 300px;
  margin: auto;
  background: #F7FABE;
  padding: 10px;
  border: 1px solid #D6D3DE;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.sign-in-form a {
  text-decoration: none;
}

/* FORMS */

.select-small {
  width: 80px;
}

.select-medium {
  width: 110px;
}

.select-large {
  width: 150px;
}



/* GOALS INDEX */

.delete-goal:hover {
  background: red;
  cursor: pointer;
}

.add-task-button:hover {
  background: green;
  cursor: pointer;
}

.single-goal {
  background: #C8F7FA;
}


.goal-unit {
  padding-top: 15px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  /*background: #F7FABE;*/
  background: #F2F2F2;
  border: 10px solid #D6D3DE;
  -webkit-border-radius: 100px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 100px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 100px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.editable {

}



.task-unit {
  float: left;
  margin-left: 40px;
  margin-right: 10px;
}

.completion-confirm > h2 {
  color: #84E8BE;
}


.goals-header {
  padding-bottom: 20px;
}

#date-selector-container {
  float: right;
}

.new-goal-container {
  float: left;
  margin-bottom: 50px;
}

.goals-list {
  
}


.goals-index {
  width: 1000px;
  margin: auto;
}

.goal-header {
  padding-bottom: 10px
}


.current-score {
  width: 200px;
  margin: auto;
  font-size: 50px;
}